/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navigation */
.main-header {
  display: flex;
  flex-direction: row;
}

.main-header .navbar {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.main-header .navbar ul {
  display: flex;
  justify-content: start;
  justify-content: start;
}

.main-header .navbar ul li {
  padding: 5px 25px 0 25px;
}

.main-header .navbar ul li a {
  color: rgb(119, 118, 118);
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
}

.main-header .navbar ul li a:hover {
  opacity: 0.7;
}

.main-header .logo {
  margin: 0.4% 0 0 5%;
}

/* services page */
.tiny-container {
  max-width: 890px;
  margin: auto;
}
.services-header-img {
  display: block;
  margin: 1% auto;
}

.showcase h1 {
  font-size: 25px;
  margin-top: 5%;
}

.showcase p {
  margin-bottom: 5%;
}

/* boxes */
.boxes .box-container {
  display: flex;
  flex-flow: wrap;
}

.boxes .box-container .box {
  width: 40%;
  height: 50%;
  border: 2px solid black;
  padding: 2%;
  background: rgb(236, 236, 236);
  margin: 5%;
}

.boxes .box-container .box h1 {
  font-size: 20px;
}

.boxes .box-container .box p {
  margin-bottom: 10%;
}

.boxes .box-container .box a {
  color: #333;
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  background: rgb(252, 252, 252);
  border-radius: 10px;
  border: 1px solid black;
}

.boxes .box-container .box a:hover {
  background: #333;
  color: #ccc;
}

/* Bottom section */
.bottom-section-container {
  margin-top: 3%;
  display: flex;
}

.bottom-content {
  width: 50%;
  padding: 10px;
}

.bottom-content ul {
  list-style: square;
  margin-left: 2%;
  padding: 20px;
  line-height: 1.7;
}

.bottom-img-box img {
  height: 95%;
}

.main-footer p {
  text-align: center;
  margin-top: 5%;
}

@media (max-width: 1000px) {
  /* Navigation */
  .main-header .navbar {
    flex-direction: column;
  }

  .main-header .navbar ul {
    order: 2;
  }

  .main-header .logo {
    margin: auto;
    order: 1;
  }
}

@media (max-width: 750px) {
  /* Navigation */
  .main-header .navbar {
    flex-direction: column;
  }

  .main-header .navbar ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .main-header .navbar ul li {
    padding: 5%;
  }

  /* boxes */
  .boxes .box-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .boxes .box-container .box {
    width: 80%;
    border: 2px solid black;
    padding: 5%;
    background: rgb(236, 236, 236);
  }

  /* Bottom section */
  .bottom-section-container {
    flex-direction: column;
    align-items: center;
  }

  .bottom-content {
    width: 80%;
    padding: 10px;
    text-align: center;
  }
}
